@model IEnumerable<FunnyNails.Models.Employee.WorkMgmt>

@{
    ViewData["Title"] = "Work Hours";
}

<h2>Work Hours</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkEnd)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
